<div class="filter-menu mt-3">
    <div class="row visible-filter">
        <form class="d-flex" method="get" action="{% url 'jobs-search:job_list'%}">
            <div class="filter search-title col-md-5 col-12">
                <i class="bi bi-search icon"></i>
                <input class="form-control input-filter" type="text" placeholder="Search Job" aria-label="Search" id="keywordTitle" name="keywordTitle" value="{{ keywordTitle }}">
            </div>             
            <div class="filter search-location col-md-5 col-12">
                <i class="bi bi-geo-alt icon"></i>
                <input class="form-control input-filter" type="text" placeholder="Search Location (example location1, location2, ...)" aria-label="Search" id="keywordLocation" name="keywordLocation" value="{{ keywordLocation }}">
            </div>
            <div class="col-2">
                <button class="btn btn-primary form-control" type="submit">Search</button>
            </div>
        </form>
    </div>

    <!-- Dropdown for mobile search -->
    <div class="row invisible-filter">
        <div class="col-12">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle w-100 " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Search 
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <form class="#" method="get" action="{% url 'jobs-search:job_list'%}">
                    <li>     
                      <i class="bi bi-search icon"></i>                               
                      <input class="form-control input-filter" type="search" placeholder="Search Job" aria-label="Search" name="keywordTitle" value="{{ keywordTitle }}">
                    </li>
                    <li>
                      <i class="bi bi-geo-alt icon"></i>
                      <input class="form-control input-filter" type="search" placeholder="Search Location" aria-label="Search" name="keywordLocation" value="{{ keywordLocation }}">
                    </li>
                    <li>
                      <button class="btn btn-primary form-control search-filter" type="submit">Search</button>
                    </li>
                  </form>
                </ul>
              </div>
        </div>
    </div>
    {% comment %} ------------ {% endcomment %}
</div>