<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{keywordTitle}} {{keywordLocation}} - jobs</title>

    {% include "snippets/style.html" %}

</head>
<body>
    {% include "snippets/nav.html" %}
    <div class="container">
        <div class="row">
            <div class="content">
                <div class="main-content">
                    {% include "snippets/filter_search.html" %}
                    <hr>
                    {% if keyword or keywordTitle or keywordLocation %}
                        <div class="row">
                            <div class="col-lg-3 col-12">
                                {% block content-jobs-filter%}
                                {% endblock content-jobs-filter%}
                            </div>
                            <div class="col-lg-9 col-12">
                                {% if keywordTitle or keywordLocation%}
                                    {% block content-jobs-result2 %}
                                    {% endblock content-jobs-result2%}
                                {% endif %}
                                {% block content-jobs%}
                                {% endblock content-jobs%}
                            </div>
                        </div>
                        {% block content-jobs-pagination%}
                        {% endblock content-jobs-pagination%}
                    {% else %}
                        <h1>The job you were looking for was not found...</h1>
                    {% endif %}

                </div>
            </div>   
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block script-ajax%}
    {% endblock script-ajax%}

    {% include "snippets/scripts.html" %}

</body>
</html>