{% extends "base.html" %}

{% load template_cut_re %}

{% block content-jobs-result %}
<input type="hidden" name="page" id="page" value="{{ request.GET.page }}">

<h4 class="job-header mt-4"><span id="job_count">0</span> Jobs for {{keyword|title}} {{klocation|title}}</h4>
<br>
{% endblock content-jobs-result %}

{% block content-jobs%}
<div class="row" id="job_list">
    
</div>
<div class="col-12 text-center d-none" id="spinner">
    <div>
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <span>Please wait...</span>
</div>


<div id="template" class="d-none">
    <div class="col-12 card-border">
        <div class="card mb-3">
            <div class="row d-flex">
                <div class="card-header d-flex">
                    <div class="img-company">
                        <img id="job_image1" class="img-fluid company-image" alt="..." src="">
                    </div>
                    <div class="card-header-info">
                        <a class="text-decoration-none job-name" href="#" data-bs-toggle="modal" id="job_modal_counter">
                            <h3 class="card-title job-name" id="job_title1"></h3>
                        </a>
                        <span class="card-company company-name" style="font-size:14px;" id="job_company1"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="location-info">
                            <div class="loc">
                                <i class="bi bi-geo-alt-fill"></i>
                                <span class="location-name fw-bold" id="job_location1"></span>
                            </div>
                        </div>
                        <div class="requirement-info">
                            <h6 class="card-text mb-1 mt-3">Details :</h6>
                            <p class="card-text requirements-job" id="job_requirement1"></p>
                        </div>
                        <div class="card-footer mt-3">
                            <p class="card-text d-inline-block job-datetime-posted">
                                <small class="text-muted datetime-posted" id="job_datetime_posted2">Posted</small>
                            </p>
                            <div class="apply-job d-inline-block">
                                <a href="#" id="job_detail" data-bs-toggle="modal" class="btn btn-success">Detail</a>
                                <a href="#" id="job_link1" class="btn btn-primary" target="_blank">Apply</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="row">
                    <div class="col-12">
                        <div class="modal fade" id="detailModel" tabindex="-1" aria-labelledby="detailModel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="job_title2"></h3>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="img-company img-company-modal">
                                            <img src="#" id="job_image2" class="img-fluid company-image" alt="...">
                                        </div>
                                        <div class="company-name-modal text-center mt-3">
                                            <span class="company-name" id="job_company2"></span>
                                        </div>
                                        <div class="location-name-modal text-center mt-2">
                                            <span class="location-name text-muted" id="job_location2"></span>
                                        </div>
                                        <div class="requirement-info-modal mt-4">
                                            <h5 class="requirement-info text-decoration-underline">Details</h5>
                                            <span class="requirement-job" id="job_requirement2"></span>
                                        </div>
                                    </div>
                                    <div class="modal-footer mt-3">
                                        <p class="card-text d-inline-block job-datetime-posted">
                                            <small class="text-muted datetime-posted" id="job_datetime_posted3">Posted</small>
                                        </p>
                                        <div class="apply-job d-inline-block">
                                            <a href="#" id="job_link2" class="btn btn-primary" target="_blank">Apply</a>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content-jobs%}

{% block content-jobs-pagination%}
<div id="pagination">
    
</div>
{% endblock content-jobs-pagination%}

{% block content-jobs-filter%}
<div class="dropdown dropdown-end">
    <button class="btn btn-secondary dropdown-toggle d-lg-none" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-funnel"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <div class="date date-filter date-filter-d input-group ">
            <div class="row">
                <div class="col-6 col-ss-12 col-lg-12">
                    <div class="filter-category">
                        <h5><i class="bi bi-calendar me-2"></i>Filter Tanggal</h5>
                        <div class="filter-lastDay">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="date_all" name="lastnday" checked="checked">
                                <label class="form-check-label" for="date_all">
                                    Semua
                                </label>
                            </div>
                            {% for lname,name in last_n_day %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="date_{{lname}}" name="lastnday">
                                <label class="form-check-label" for="date_{{lname}}">{{name}}</label>
                            </div>
                            {% endfor %}
                        </div> 
                    </div>
                </div>
                <div class="col-6 col-ss-12 col-lg-12">
                    <div class="filter-category mt-4">
                        <h5><i class="bi bi-tags me-2"></i>Filter Jobsite </h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="categories" id="cat_all" checked="checked">
                            <label class="form-check-label" for="cat_all">Semua</label>
                        </div>
                        {% for lname,name in categories %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="categories" id="cat_{{lname}}">
                            <label class="form-check-label" for="cat_{{lname}}">{{name}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-6 col-ss-12 col-lg-12">
                    <div class="filter-category mt-4">
                        <h5><i class="bi bi-tags me-2"></i>Urut Berdasarkan </h5>
                        {% for lname,name in ordering %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ordering" id="order_{{lname}}">
                            <label class="form-check-label" for="order_{{lname}}">{{name}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </ul>
</div>

{% endblock content-jobs-filter%}

{% block script-ajax%}
<script>
    $(document).ready(function() {
        var timer = null;

        refresh();

        $('#keyword, #klocation').keydown(setTimer);
        $('#date_all, #date_yesterday, #date_last_3_day, #date_last_14_day, #date_last_30_day').change(setTimer);
        $('#cat_all, #cat_jobstreet, #cat_kalibrr, #cat_glints').change(setTimer);
        $('#order_relevance, #order_date').change(setTimer);
        $(document).on('click', 'a.page-link', function(evt) {
            evt.preventDefault();
            $('#page').val($(this).data('page-number'));
            history.pushState({}, null, $(this).attr('href'));
            refresh();
        });
        
        
        function setTimer() {
            clearTimeout(timer);
            timer = null;

            timer = setTimeout(refresh(), 4000);
        }
        
        function refresh() {
            s = $('#spinner').clone();
            s.removeClass('d-none');
            s.appendTo('#job_list');

            $.ajax({
                url: "/jobs-search-api/",
                method: 'POST',
                data: {
                    'page':               $('#page').val(),
                    'keyword'   :         $('#keyword').val(),
                    'klocation':          $('#klocation').val(),
                    'date_yesterday':     $('#date_yesterday').is(':checked'),
                    'date_last_3_day':    $('#date_last_3_day').is(':checked'),
                    'date_last_14_day':   $('#date_last_14_day').is(':checked'),
                    'date_last_30_day':   $('#date_last_30_day').is(':checked'),
                    'cat_jobstreet':      $('#cat_jobstreet').is(':checked'),
                    'cat_kalibrr':        $('#cat_kalibrr').is(':checked'),
                    'cat_glints':         $('#cat_glints').is(':checked'),
                    'order_relevance':    $('#order_relevance').is(':checked'),
                    'order_date':         $('#order_date').is(':checked'),
                },
                success: function(result) {
                    $('#job_list').empty();
                    $('#job_count').text(result.total);
                    $('#pagination').html(result.paginator);

                    for (i = 0; i < result.data.length; i++) {
                        data = result.data[i];

                        t = $('#template').clone();
                        t.attr('id', 'job-' + i);
                        t.removeClass('d-none');
                        
                        t.find('#job_title1').text(data.title);
                        t.find('#job_title2').text(data.title);
                        t.find('#job_image1').attr('src', data.image);
                        t.find('#job_image2').attr('src', data.image);
                        t.find('#job_company1').text(data.company);
                        t.find('#job_company2').text(data.company);
                        t.find('#job_location1').text(data.location);
                        t.find('#job_location2').text(data.location);
                        t.find('#job_requirement1').text(data.requirement);
                        t.find('#job_requirement2').text(data.requirement);
                        t.find('#job_link1').attr('href', data.link);
                        t.find('#job_link2').attr('href', data.link);
                        t.find('#job_datetime_posted1').text(data.datetime_posted);
                        t.find('#job_datetime_posted2').text(data.datetime_posted);
                        t.find('#job_datetime_posted3').text('Posted ' + data.datetime_posted);
                        t.find('#detailModel').attr('id', data.detailModelId);
                        t.find('#job_detail').attr('data-bs-target', '#' + data.detailModelId);

                        t.appendTo('#job_list');
                    }

                    window.scrollTo(0, 0);
                }
            })
        }
    });
</script>
{% endblock script-ajax%}